%font-normal {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

%font-normal2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
}

%font-title1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

%font-title2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

%font-title3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
}

%font-title4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
