$primary: #620985;
$focus: #18072b;
$disabled: #a3a3a3;
$hover: #a72fd7;
$white: #ffffff;
$font: #1e1e1e;
$lightFont: #7b7b7b;
$lightBorder: #c9c9c9;
$background: #f0f3f8;
$inputHover: #f4f4f4;
$mainDark: #1e1e1e;
$orange: #d68a00;
$red: #ff2c2c;
$grey1: #4e4e4e;
$green: #00c600;
$grey2: #777;
$grayish: #94a684;
$white-light: #fbfbfb;
