@import "../style";

.car__detail {
  padding: 32px 15%;
  background-color: $background;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1.375rem
  );
  width: 100%;

  &__topLinks {
    @include flexbox($justify: flex-start, $items: center, $gap: 0.5rem);

    &__link {
      @extend %font-normal;
      color: $lightFont;

      &:hover {
        color: $primary;
      }
    }

    &__name {
      color: $font;
    }
  }

  &__general {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1rem
    );
    width: 100%;

    &__header {
      @include flexbox($justify: space-between, $items: center);
      width: 100%;

      &__info {
        @extend %font-title1;
        color: $font;
      }

      &__links {
        @include flexbox($justify: flex-start, $items: center, $gap: 1.875rem);

        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }

    &__pictures {
      display: flex;
      width: 100%;
      height: 422px;
      @include flexbox($justify: flex-start, $items: center, $gap: 1.25rem);

      &__main {
        width: 70%;
        height: 100%;
        position: relative;

        &:hover {
          .car__detail__general__pictures__main__expand,
          .car__detail__general__pictures__main__rightArrow,
          .car__detail__general__pictures__main__leftArrow,
          .car__detail__general__pictures__main__counter {
            visibility: visible;
          }
        }

        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        &__rightArrow,
        &__leftArrow {
          position: absolute;
          top: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 100px;
          padding: 6px;
          visibility: hidden;

          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;
          }
        }

        &__rightArrow {
          right: 10px;
        }

        &__leftArrow {
          left: 10px;
        }

        &__expand {
          visibility: hidden;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 3px;
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;
          }
        }

        &__counter {
          visibility: hidden;
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: rgba(0, 0, 0, 0.4);
          @include flexbox($justify: flex-start, $items: center, $gap: 0.4rem);
          padding: 5px;
          color: $white;
          border-radius: 0.5rem;
        }
      }

      &__aside {
        width: 30%;
        height: 100%;

        @include flexbox(
          $direction: column,
          $justify: flex-start,
          $items: center,
          $gap: 0.625rem
        );

        &__item {
          width: 100%;
          height: 100%;
          position: relative;

          img {
            width: 100%;
            height: 133px;
            object-fit: cover;
            border-radius: 8px;
          }

          &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            @include flexbox($justify: center, $items: center);
            color: $white;
            @extend %font-title1;
            letter-spacing: 0.2px;
            font-weight: 500;
            border-radius: 8px;
          }
        }
      }
    }
  }

  &__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    &__closeBtn {
      position: fixed;
      top: 25px;
      right: 25px;
      border: none;
      outline: none;
      background-color: transparent;

      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }
  }

  &__additional {
    @include flexbox($justify: flex-start, $items: flex-start, $gap: 1.25rem);
    width: 100%;

    &__left {
      width: 69%;
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1.375rem
      );

      &__divider {
        width: 1065px;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &__right {
      width: 30%;
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1.375rem
      );

      &__vin {
        padding: 20px;
        width: 100%;
        border-radius: 8px;
        background: $white;
        @include flexbox($justify: flex-start, $items: center, $gap: 0.625rem);

        &__key {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: $font;
        }

        &__value {
          @extend %font-normal;
          color: $font;
        }
      }
    }
  }

  &__similar {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1.875rem
    );
    width: 100%;

    &__header {
      @include flexbox($justify: space-between, $items: center);
      width: 100%;

      &__title {
        @extend %font-title1;
      }

      &__link {
        @include flexbox($justify: space-between, $items: center, $gap: 1rem);
        @extend %font-normal2;
        color: $primary;
      }
    }

    &__content {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, auto);
      column-gap: 20px;
      row-gap: 30px;
    }
  }
}
