@import "../style";

.home {
  background-color: $background;
  height: 100vh;

  &__hero {
    width: 100%;
    height: 465px;
    background-image: url("../../assets/home/hero1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bgChange 10s infinite ease-in-out;
    padding: 20px;

    &__content {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      height: 100%;
      padding: auto 220px 0;
      @include flexbox(
        $direction: column,
        $justify: center,
        $items: flex-start,
        $gap: 1.5rem
      );

      &__firstLine {
        @include flexbox($justify: flex-start, $items: center, $gap: 1rem);
      }

      &__secondLine {
        @include flexbox($justify: flex-start, $items: center, $gap: 1rem);
      }
    }
  }

  @keyframes bgChange {
    0% {
      background-image: url("../../assets/home/hero1.png");
    }
    25% {
      background-image: url("../../assets/home/hero2.png");
    }
    75% {
      background-image: url("../../assets/home/hero3.png");
    }
    100% {
      background-image: url("../../assets/home/hero4.png");
    }
  }
}
