@import "../style";

.new__promotion {
  min-width: 100%;
  padding: 32px 275px;
  background-color: $background;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start
  );

  &__titles {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 2rem
    );

    &__switch {
      @include flexbox($justify: flex-start, $items: center, $gap: 0.8rem);

      &__btn {
        border: none;
        outline: none;
        background-color: transparent;
        color: $lightFont;
        @extend %font-normal;

        &:hover {
          cursor: pointer;
        }
      }

      &__icon {
        color: $lightFont;
        width: 24px;
        height: 24px;
        font-weight: normal;
      }
    }

    &__main {
      @extend %font-title1;
      color: $font;
    }
  }

  &__content {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 2rem
    );
    margin: 30px 0;

    &__divider {
      width: 100%;
      height: 1px;
      background-color: #aaa;
    }

    &__btn {
      border-radius: 8px;
      background: $primary;
      padding: 15px 64px;
      @extend %font-normal;
      color: $white;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        background-color: $hover;
      }
    }

    &__text {
      margin: 0 auto;
      color: $red;
      @extend %font-normal;
    }
  }
}
