@import "../../assets/colors.scss";

.cardWrapper {
  border-radius: 8px;
  max-width: 250px;
  background-color: $white;
  cursor: pointer;
  ul {
    display: flex;
    align-items: center;
  }
  &:hover {
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.1);
  }
}
.top {
  img {
    border-radius: 8px;
    position: relative;
    width: 100%;
    object-fit: contain;
  }
  .btns {
    padding: 10px;
    position: absolute;
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: space-between;
    i {
      color: $white;
    }
    .heart {
      float: right;
      right: 0 !important;
      opacity: 0.8;
      margin-right: 0;
    }
  }
  ul li {
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.info {
  padding: 10px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
  }
  ul {
    justify-content: space-between;
  }
  .border {
    padding: 0 10px;
    border-left: 1px solid $background;
    border-right: 1px solid $background;
  }
  .dateInfo {
    padding: 10px 0;

    color: $lightFont;
    font-size: 14px;
    font-weight: 400;
    ul li {
      display: flex;

      align-items: center;
    }
    i {
      font-size: 14px;
      margin-right: 4px;
    }
  }
}
