@import "../../assets/colors.scss";

.wrapper {
  min-width: 180px;

  .choosen {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 7px 10px;
    cursor: pointer;
    border: 1px solid #00000014;
    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .sorts {
    background-color: $white;
    position: absolute;
    z-index: 999;
    border-radius: 8px;
    border: 1px solid #00000014;
    min-width: 180px;
    margin-top: 10px;
    ul li {
      cursor: pointer;
      padding: 7px 10px;
      &:hover {
        background-color: $inputHover;
      }
    }
  }
}
