@import "../style";

.degree__slider {
  @include flexbox(
    $direction: column,
    $justify: center,
    $items: center,
    $gap: 1rem
  );
  height: 100vh;

  &__text {
    color: $white;
    @extend %font-normal;
  }

  &__img {
    border-radius: 20px;
  }
}
