@import "../style";

.car__others {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.25rem
  );
  width: 100%;

  &__title {
    @extend %font-normal;
  }

  &__content {
    @include flexbox($justify: space-between, $items: center, $gap: 1.875rem);

    &__item {
      flex-grow: 1;
      @include flexbox($justify: flex-start, $items: center, $gap: 0.5rem);
    }
  }
}
