@import "../style";

.reviews {
  width: 100%;
  background: $white-light;
  padding: 20px;
  border-radius: 8px;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start,
    $gap: 1.25rem
  );

  &__title {
    @extend %font-title5;
    color: $font;
  }

  &__content {
    width: 100%;
    position: relative;

    &__leftArrow,
    &__rightArrow {
      position: absolute;
      top: 40%;

      &:hover {
        cursor: pointer;
      }
    }

    &__leftArrow {
      left: 5px;
    }

    &__rightArrow {
      right: 5px;
    }

    &__item {
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: flex-start,
        $gap: 0.5rem
      );
      padding: 0 50px;

      &__header {
        @include flexbox($justify: flex-start, $items: center, $gap: 0.625rem);

        img {
          width: 40px;
          height: 40px;
          border-radius: 100px;
          object-fit: cover;
        }

        &__name {
          @extend %font-normal2;
          color: $font;
        }
      }

      &__body {
        @extend %font-normal;
        letter-spacing: 0.16px;
        color: $grey1;
        min-height: 50px;
      }
    }
  }
}
