@import "../style";

.credit__container {
  width: 700px;
  height: auto;
  background-color: $white;
  border-radius: 8px;
  padding: 25px;

  &__stepOne {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start
    );

    &__header {
      @include flexbox($justify: center, $items: center, $gap: 1.875rem);
      width: 100%;
      position: relative;
      margin-bottom: 30px;

      &__title {
        margin: 0 auto;
        @extend %font-title1;
        color: $font;
      }

      &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    &__carTitle {
      @extend %font-normal2;
      color: $font;
      margin-bottom: 30px;
    }

    &__btn {
      padding: 15px 64px;
      border-radius: 8px;
      background: $primary;
      color: $white;
      width: 100%;
      @extend %font-normal2;
      border: none;
      outline: none;
      margin-bottom: 20px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    &__note {
      @extend %font-title2;
      color: $lightFont;
    }
  }

  &__stepTwo {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start
    );
    width: 100%;

    &__header {
      @include flexbox($justify: center, $items: center, $gap: 1.875rem);
      width: 100%;
      position: relative;
      margin-bottom: 30px;

      &__title {
        margin: 0 auto;
        @extend %font-title1;
        color: $font;
      }

      &__closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
      }

      &__prevBtn {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    &__btn {
      padding: 15px 64px;
      border-radius: 8px;
      background: $primary;
      color: $white;
      width: 100%;
      @extend %font-normal2;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    &__note {
      @extend %font-title2;
      color: $lightFont;
      margin-top: 20px;
    }
  }
}
