body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif ;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}

/* .Mui-focused, */
      /* .MuiAutocomplete-hasPopupIcon:active, */
     
/* MuiAutocomplete-root MuiAutocomplete-hasPopupIcon  */
/* MuiAutocomplete-root Mui-expanded Mui-focused MuiAutocomplete-hasPopupIcon  */
.css-gdh49b-MuiAutocomplete-listbox
/* .MuiAutocomplete-option.Mui-focused */
{
  border: 1px solid #620985 !important;
  box-shadow: none !important;
  border-radius: 8px !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  border-radius: 8px !important;
  margin-top: 10px !important;
  box-shadow: none !important;
  border: 1px solid #620985 !important;
  
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{
  background-color:#F4F4F4!important;
}
.css-ryrseu-MuiRating-root{
  margin: 0 auto;
  color: #D7D700 !important;
}